<!-- view a single post - ChecklistDetailView -->
{% extends "checklist/base.html" %}
{% load social_share %}
{% load crispy_forms_tags %}
<!-- only replace the block content with this code -->
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-checklists' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
                <a class="btn btn-sm btn-warning mb-1" href="{% url 'category' object.category %}" >{{ object.category }}</a>
                {% if object.author == user %}
                    <a style="float: right;" class="btn btn-sm btn-info mb-3 mr-1" href="{% url 'item-create' object.id %}">Add Item</a>
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1 mr-1" href="{% url 'checklist-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1 mr-1" href="{% url 'checklist-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content|safe }}</p>
            <div/>
                {% if itemset.count != 0 %}
                    <div style="margin-top: 20px">
                        <table style="width: 70%" class="table table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th style="text-align:center" scope="col"></th>
                                    <th style="text-align:center" scope="col">Item title</th>
                                    <!-- <th scope="col">Completed?</th> -->
                                    {% if object.author == user %}
                                        <th style="text-align:center" scope="col">Actions</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in itemset %}
                                    <tr>
                                        <td style="text-align:center">
                                            {% if object.author == user %}
                                                <!-- refer: https://stackoverflow.com/a/17599126/6543250 to see how to trigger some action when checkbox is clicked; wrap it in a form and call its submit on checkbox onchange -->
                                                <!-- refer this to see how to concatenate string in JS - https://stackoverflow.com/a/44215286/6543250 -->
                                                <form id="formName" action="{% url 'item-action' item.id 'complete' %}" method="POST">
                                                    {% csrf_token %}
                                                    <!-- see this link: https://stackoverflow.com/a/298793/6543250 to access variable in JS -->
                                                    <!-- <input type="checkbox" value="" onchange="document.getElementById('formName{{item.id}}').submit()"> -->
                                                    {% if item.completed %}
                                                        <input type="checkbox" value="" onchange="this.form.submit()" checked>
                                                    {% else %}
                                                        <input type="checkbox" value="" onchange="this.form.submit()">
                                                    {% endif %}
                                                </form>
                                            {% else %}
                                                {% if item.completed %}
                                                    <input type="checkbox" value="" checked disabled>
                                                {% else %}
                                                    <input type="checkbox" value="" disabled>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td style="text-align:center"><a href="{% url 'item-detail' item.id %}">{{ item.title }}</a></td>
                                        <!-- <td>
                                            {% if item.completed %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td> -->
                                        {% if object.author == user %}
                                            <td style="text-align:center">
                                                <a class="btn btn-outline-danger" href="{% url 'item-action' item.id 'delete' %}">Delete</a>
                                                <!-- <span>
                                                    {% if item.completed %}
                                                        <a class="btn btn-outline-success" href="{% url 'item-action' item.id 'complete' %}">Untick</a>
                                                    {% else %}
                                                        <a class="btn btn-outline-success" href="{% url 'item-action' item.id 'complete' %}">Tick</a>
                                                    {% endif %}
                                                    <a class="btn btn-outline-danger" style="float: right;" href="{% url 'item-action' item.id 'delete' %}">Delete</a>
                                                </span> -->
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="border-top">
                    {% if user.is_authenticated and object.author != user %}
                        {% if if_upvoted %}
                            <a class="btn btn-info" style="margin-top: 20px" href="{% url 'checklist-upvote' object.id %}">Upvote | {{ uvote }}</a>
                        {% else %}
                            <a class="btn btn-outline-info" style="margin-top: 20px" href="{% url 'checklist-upvote' object.id %}">Upvote | {{ uvote }}</a>
                        {% endif %}
                        {% if if_bookmarked %}
                            <a class="btn btn-info" style="margin-top: 20px" href="{% url 'checklist-bookmark' object.id %}">Bookmark</a>
                        {% else %}
                            <a class="btn btn-outline-info" style="margin-top: 20px" href="{% url 'checklist-bookmark' object.id %}">Bookmark</a>
                        {% endif %}
                        <a class="btn btn-outline-info" style="margin-top: 20px" href="{% url 'checklist-save' object.id %}">Save and Edit</a>
                        {% if if_followed %}
                            <a class="btn btn-info" style="margin-top: 20px" href="{% url 'checklist-follow' object.id %}">Follow checklist</a>
                        {% else %}
                            <a class="btn btn-outline-info" style="margin-top: 20px" href="{% url 'checklist-follow' object.id %}">Follow checklist</a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-outline-info disabled" style="margin-top: 20px">{{ uvote }} Upvotes</a>
                    {% endif %}
                    {% if object.is_draft %}
                        <a style="float: right;margin-top: 20px" class="btn btn-sm btn-info mb-3" href="{% url 'checklist-publish' object.id %}">Publish Draft</a>
                    {% endif %}
                </div>
                <div style="margin-top: 15px"> <strong>Share on: </strong>
                    {% post_to_facebook request.build_absolute_uri "Facebook" %} |
                    {% post_to_twitter object.title request.build_absolute_uri "Twitter" %} |
                    {% post_to_linkedin object.title request.build_absolute_uri "LinkedIn" %} |
                    {% post_to_reddit object.title request.build_absolute_uri "Reddit" %}
                </div>
            </div>
        </article>
        <!-- write a comment form -->
        <div class="col-md-12 card mb-4  mt-3 ">
            <div class="card-body">
                <h3>Leave a comment</h3>
                <form action="{% url 'comment-submit' object.id %}" method="post" style="margin-top: 1.3em;" novalidate>
                    {{ comment_form|crispy }}
                    {% csrf_token %}
                    <script>
                    ClassicEditor
                    .create( document.querySelector( '#id_body' ) );
                    </script>
                    <button type="submit" class="btn btn-primary btn-md">Submit</button>
                </form>
            </div>
        </div>
        <!-- display comments -->
        <div class="col-md-12 card mb-4  mt-3 ">
            <div>
                {% if comments.count == 0 %}
                    <h2 style="margin-top: 20px">No Comments</h2>
                    {% elif comments.count == 1 %}
                    <h2 style="margin-top: 20px">{{ comments.count }} Comment</h2>
                {% else %}
                    <h2 style="margin-top: 20px">{{ comments.count }} Comments</h2>
                {% endif %}
                {% for comment in comments %}
                    <div class="p-3 mb-2 mt-4 bg-light text-dark">
                        <div class="comments" style="margin-top: 4px">
                            <p class="font-weight-bold">
                                <img class="rounded-circle" width="40" height="40" src="{{ comment.user.profile.image.url }}">
                                <a class="ml-1 mr-2" href="{% url 'user-checklists' comment.user.username %}">{{ comment.user }}</a>
                                <small class="text-muted">{{ comment.created_on|timesince }} ago</small>
                            </p>
                            <p style="font-size: 2em">{{ comment.body | safe | linebreaks }}</p>
                        </div>
                    </div>
                    <div class="p-3 mb-2 ml-5 mt-2 bg-light text-dark">
                        {% for child_comment in comment.children %}
                            <div class="comments" style="padding: 1px;">
                                <p class="font-weight-bold">
                                    <img class="rounded-circle" width="40" height="40" src="{{ child_comment.user.profile.image.url }}">
                                    <a class="ml-1 mr-2" href="{% url 'user-checklists' child_comment.user.username %}">{{ child_comment.user }}</a>
                                    <small class="text-muted">{{ child_comment.created_on|timesince }} ago</small>
                                </p>
                                <p>{{ child_comment.body | safe | linebreaks }}</p>
                            </div>
                            <hr/>
                        {% endfor %}
                        <form action="{% url 'comment-submit' object.id %}" method="post" style="padding: 1px;" novalidate>
                            {{ comment_form|crispy }}
                            {% csrf_token %}
                            <!-- {% with "#id_body"|add:forloop.counter as idbody %}
                            <script>
                            ClassicEditor
                            .create( document.querySelector( idbody ) );
                            </script>
                        {% endwith %} -->
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <button type="submit" class="btn btn-primary btn-sm">Reply</button>
                    </form>
                </div>
                <hr/>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}