<!-- show checklists for a user - mychecklist() function -->
{% extends "checklist/base.html" %}
<!-- only replace the block content with this code -->
{% block content %}
    <!-- loop over posts list provided in context; use variable name used as key in context -->
    {% for checklist in checklists_var %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ checklist.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-checklists' checklist.author.username %}">{{ checklist.author }}</a>
                    <small class="text-muted">{{ checklist.date_posted|date:'F d, Y' }}</small>
                    <button class="btn btn-sm btn-warning" disabled>{{ checklist.category }}</button>
                </div>
                <h2><a class="article-title" href="#">{{ checklist.title }}</a></h2>
                <p class="article-content">{{ checklist.content|safe }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}