<!-- show checklists by a specific user - UserChecklistListView -->
{% extends "checklist/base.html" %}

<!-- only replace the block content with this code -->
{% block content %}
	{% if draft %}
		<h1 class="mb-3">Your Drafts ({{ checklist_upvotes.paginator.count }})</h1>	
	{% else %}
		<h1 class="mb-3">Checklists by {{ view.kwargs.username }} ({{ checklist_upvotes.paginator.count }})</h1>
		
		{% if user.is_authenticated and user.username != view.kwargs.username %}
			{% if if_followed %}
				<a style="margin-bottom: 15px" class="btn btn-success" href="{% url 'user-follow' view.kwargs.username %}">Un-Follow this user</a>
			{% else %}
				<a style="margin-bottom: 15px" class="btn btn-success" href="{% url 'user-follow' view.kwargs.username %}">Follow this user</a>
			{% endif %}
		{% endif %}
	{% endif %}
	
	
	<!-- loop over posts list provided in context; use variable name used as key in context -->
	{% for checklist, uvote, if_upvoted, if_bookmarked in checklist_upvotes %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ checklist.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <!-- <a class="mr-2" href="{% url 'user-checklists' checklist.author.username %}">{{ checklist.author }}</a> -->
		      <small class="text-muted">{{ checklist.date_posted|date:'F d, Y' }}</small>
		      <a class="btn btn-sm btn-warning mb-1" href="{% url 'category' checklist.category %}" >{{ checklist.category }}</a>
		    </div>
		    <h2><a class="article-title" href="{% url 'checklist-detail' checklist.id %}">{{ checklist.title }}</a></h2>
		    <p class="article-content">{{ checklist.content|safe }}</p>
		    {% if user.is_authenticated and checklist.author.username != user.username %}
		    	
		    	{% if if_upvoted %}
					<a class="btn btn-info" href="{% url 'checklist-upvote' checklist.id %}">Upvote | {{ uvote }}</a>
				{% else %}
					<a class="btn btn-outline-info" href="{% url 'checklist-upvote' checklist.id %}">Upvote | {{ uvote }}</a>
				{% endif %}
				
				{% if if_bookmarked %}
					<a class="btn btn-info" href="{% url 'checklist-bookmark' checklist.id %}">Bookmark</a>
				{% else %}
					<a class="btn btn-outline-info" href="{% url 'checklist-bookmark' checklist.id %}">Bookmark</a>
				{% endif %}

				<!-- <a class="btn btn-outline-info" href="{% url 'checklist-upvote' checklist.id %}">Upvote | {{ uvote }}</a>
				<a class="btn btn-outline-info" href="{% url 'checklist-bookmark' checklist.id %}">Bookmark</a> -->
			{% else %}
				<a class="btn btn-outline-info disabled">{{ uvote }} Upvotes</a>
			{% endif %}
		  </div>
		</article>
	{% endfor %}

	{% if is_paginated %}

		{% if checklist_upvotes.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ checklist_upvotes.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in checklist_upvotes.paginator.page_range %}
			{% if num == checklist_upvotes.number %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > checklist_upvotes.number|add:'-3' and num < checklist_upvotes.number|add:'3' %}
				<a class="btn btn-info-outline mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if checklist_upvotes.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ checklist_upvotes.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ checklist_upvotes.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{% endblock content  %}